/*************************************
/HEADER
/************************************/
header {
	background-color: #777;
	box-shadow: 0 1px 0 0 #000;
	min-height: 80px;
}

.header-wrapper {
	margin: 0 auto;
	max-width: 1000px;
}

nav {
	text-align: right;
}

nav h1 {
	color: #fff;
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
}

nav ul {
	display: none;
	/*float: right;*/
	/*display: inline;*/
	margin: 0;
	padding: 40px 0 0 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 0 2% 0 0;
}

nav a {
	font-size: 1.75em;
	text-decoration: none;
	color: #fff;
}

nav a.selected {
	color: #000;
}

.header-icons {
	text-align: left;
	float: left;
	padding: 20px 0 10px 10px;
}

.header-icons img {
	width: 40px;
	height: 40px;
	padding: 0 10px;
}

/*************************************
/Main Body
/************************************/
.body-wrapper {
	width: 99%;
	margin: 0 auto;
	max-width: 1000px;
}

/*************************************
/Form Field
/************************************/

.form-field {
	text-align: center;
	width: 80%;
	max-width: 300px;
	margin: 0 auto;
}

.form-field ul {
	list-style: none;
	text-align: center;
	width: 100%;
	margin: 10px auto;
	padding: 0;
}

.form-field li {
	padding: 0 auto;
}

.form-field label {
	text-align: left;
	font: bold 1.5em sans-serif;
	display: block;
}
.form-field input {
	margin: 0 0 10px 0;
	padding: 0;
	width: 100%;
	height: 25px;
	max-width: 300px;
	/*border-radius: 1px;*/
}

.form-field select {
	margin: 0 0 10px 0;
	width: 100%;
	height: 27px;
	max-width: 300px;
}

/*************************************
/Dot Nav
/************************************/
.dot-nav {
	text-align: center;
}

.dot-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dot-nav li {
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	margin: 10px;
	background-color: #f5f5f5;
	box-shadow: 1px 2px 1px 0 #999;
}

.dot-nav li.selected {
	background-color: #ddd;
}

.dot-nav li a {
	display: block;
	height: 100%;
	width: 100%;
}

/*************************************
/Arrow Nav
/************************************/

.nav-arrow {
	display: none;
	width: 9%;
	max-height: 200px;
}

.nav-arrow.left{
	float: left;
	padding: 0 0 0 10px;
}

.nav-arrow.right {
	float: right;
	padding: 0 10px 0 0 ;
}


/*************************************
/Footer
/************************************/

footer {
	margin: 50px 0 0 0;
	text-align: center;
}

footer p {
	font-size: 0.6em;
}