/*********************************
*Media: Tablets;
/********************************/

@media screen and (min-width: 480px){
	nav ul{
		display: block;
	}

	nav h1 {
		display: none;
	}

	nav a {
		font-size: 1.25em;
	}

	.nav-arrow {
		display: inline;
	}
}


/*********************************
*Media: Desktop;
/********************************/

@media screen and (min-width: 660px) {
	nav ul{
		margin-right: 5%;
	}

	.form-field {
		max-width: none;
	}

	.form-section {
		float: left;
		width: 40%;
		margin: 0 0 0 3%;
		padding: 0 0 0 3%;
		border-left: 1px solid black;
	}

	.first {
		border: none;
		/*margin: 0;*/
		/*padding: 0;*/
	}

	.dot-nav {
		clear: both;
	}

	.form-field ul {
		width: 100%;
		margin: 10px auto;
	}

	/*.form-field label {
		display: inline-block;
		text-align: left;
		font: normal 1.5em sans-serif;
		margin: 0;
		padding: 10px 0 0 0;
		width: 40%;
	}

	.form-field input {
		width: 55%;
	}*/
}