/*************************************
/ToolBar
/************************************/
.nav-bar .md-toolbar-tools {
	justify-content: space-between;
	align-items: center;
}

.userSelect {
	align-items: center;
}


/*************************************
/Main-Body
/************************************/
.main-body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.main-body md-card {
	flex-grow: 0;
	flex-basis: 1000px;
}

.main-body md-card md-card-header {
	padding: 0 0 16px 0;
}

.main-body md-card md-card-header .md-toolbar-tools {
	align-items: center;
	justify-content: space-between;
}

.main-body md-card h2 {
	flex-basis: 200px;
}