/*************************************
/ToolBar
/************************************/
.nav-bar .md-toolbar-tools {
	justify-content: space-between;
	align-items: center;
}

.userSelect {
	align-items: center;
}


/*************************************
/Main-Body
/************************************/
.main-body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}
.main-body md-card {
	flex-grow: 0;
	flex-basis: 1000px;
}

.main-body md-card md-card-header {
	padding: 0;
}

.main-body md-card md-card-header .md-toolbar-tools {
	align-items: center;
	justify-content: space-between;
}

.main-body md-card h2 {
	/*flex-basis: 200px;*/
}

.main-body md-card md-card-content {
	transition: all .5s linear;
	max-height: 1500px;
	opacity: 1;
	padding: 0;
}

.main-body md-card md-card-content.ng-hide {
	max-height: 0;
	opacity: 0.2;
}

/*************************************
/Form Groups
/************************************/

md-content.form-group {
	padding-top: 30px;
	padding-bottom: 0;
}

md-content.form-group md-input-container {
	margin-top: 0;
	margin-bottom: 4px;
}

/*************************************
/Load Builder
/************************************/

#load-builder h2, #load-builder h3 {
	display: inline-block;
}

#load-builder h3 {
	
}