/*************************************
/ToolBar
/************************************/
.nav-bar .md-toolbar-tools {
	justify-content: space-between;
	align-items: center;
}

.userSelect {
	align-items: center;
}


/*************************************
/Main-Body
/************************************/
.main-body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}
.main-body md-card {
	flex-grow: 0;
	flex-basis: 1000px;
}

.main-body md-card md-card-header {
	padding: 0;
}

.main-body md-card md-card-header .md-toolbar-tools {
	align-items: center;
	justify-content: space-between;
}

.main-body md-card h2 {
	/*flex-basis: 200px;*/
}

.main-body md-card md-card-content {
	/*transition: all .5s linear;*/
	transition: max-height .5s linear, opacity .5s linear .1s;
	max-height: 800px;
	overflow: auto;
	opacity: 1;
	padding: 0;
}

.main-body md-card md-card-content.ng-hide {
	max-height: 0;
	opacity: 0.2;
}

/*************************************
/Form Groups
/************************************/

md-content.form-group {
	padding-top: 30px;
	padding-bottom: 0;
}

md-content.form-group md-input-container {
	margin-top: 0;
	margin-bottom: 4px;
}

.md-inline-form md-datepicker {
	display: flex;
	margin-top: 8px;
	margin-right: 0;
	padding-right: 5px;
	justify-content: flex-end;
	align-items: flex-start;
}

.md-inline-form md-datepicker .md-button.md-icon-button{
	margin-top: -2px;
	margin-right: 0;
	padding-top: 0;
	width: 30px;
	align-items: flex-start;
}

.add-cell {
	text-align: center;
	margin-top: 16px;
}

@media (max-width: 599px) {
	.md-inline-form md-datepicker {
		justify-content: flex-end;
	}
	.add-cell {
		text-align: left;
		margin-top: -10px;
		margin-bottom: 10px;
	}
}

.md-validateTheme-theme .md-datepicker-input {
	color: #fff;
}

.md-datepicker-open .md-datepicker-input {
	color: #AfAfaf;
}

.md-form-dark-theme .md-datepicker-input::-webkit-input-placeholder {
   color: #AfAfaf;
}
.md-form-dark-theme .md-datepicker-input:-moz-placeholder { /* Firefox 18- */
   color: #AfAfaf;
}
.md-form-dark-theme .md-datepicker-input::-moz-placeholder {  /* Firefox 19+ */
   color: #AfAfaf;
}
.md-form-dark-theme .md-datepicker-input:-ms-input-placeholder {  
   color: #AfAfaf;
}


/*************************************
/Load Builder
/************************************/


#load-builder md-list-item {
	min-height: 0;
}

#load-builder .md-list-item-text h3 {
	margin: 0;
}

#load-builder .md-list-item-text {
	margin: 0;
	align-items: center;
}

#load-builder .md-list-item-text {
	flex-wrap: wrap;
}

#load-builder .wall-number,
#load-builder md-input-container .md-input {
	text-align: center;
	height: 20px;
}

#load-builder .md-list-item-text md-input-container {
	margin: 0;
}

#load-builder md-input-container .md-errors-spacer {
    height: 0;
    min-height: 5px;
}

@media (max-width: 599px) {
	#load-builder .md-list-item-text h3 {
		text-align: center;
		margin-top: 5px;
	}

	#load-builder .wall-group {
		justify-content: center;
		margin-bottom: 10px;
	}

	#load-builder .wall-group-input {
		justify-content: center;
		margin-bottom: 0;
	}
}


/*************************************
/Sales Adjustments
/************************************/

#sales-adjustments md-input-container.md-validateTheme-theme .md-input[disabled], 
#sales-adjustments md-input-container.md-validateTheme-theme .md-input [disabled],
.hint[disabled] {
	text-decoration: line-through;
	color: rgba(0,0,0,0.38);
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 35px;
    right: auto;
    bottom: 12px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; 
}

#sales-adjustments md-checkbox:last-of-type {
    margin-left: 30px;
}

@media (max-width: 599px) {
	#sales-adjustments md-checkbox:last-of-type {
    	margin-left: 10px;	
	}
	#sales-adjustments md-checkbox:last-of-type span {
		display: none;
	}
}