<div ng-controller="autoCalcsCtrl" layout="column" layout-padding ng-cloak>
  <br/>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Engineering Fee</label>
      <md-icon md-font-library="material-icons">attach_money</md-icon>
      <input ng-model="engineeringFee" type="text">
    </md-input-container>
    
    <md-input-container class="md-icon-float md-block">
      <label>Delivery Time</label>
     	<md-icon md-font-library="material-icons">schedule</md-icon>
      <input ng-model="deliveryTime" type="number" step="0.01">
      <span>hrs</span>
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Delivery Charge</label>
      <md-icon md-font-library="material-icons">attach_money</md-icon>
      <input ng-model="deliveryCharge" type="text">
    </md-input-container>

  </md-content>
</div>















<!-- 






<div>
	<ul id="auto-calcs">
		<li>
			<h3>Engineering Fee</h3>
			<label ng-click="editing1=true; focusInput1=true">$
				<span ng-hide="editing1">{{engineeringFee}}</span>
			</label>
			<input focus-me="focusInput1" ng-show='editing1' ng-blur="editing1=false" ng-model="engineeringFee" type="text">
		</li>
		<li>
			<h3>Delivery Time</h3>
			<input focus-me="focusInput2" ng-show='editing2' ng-blur="editing2=false" ng-model="deliveryTime" type="text">
			<label ng-click="editing2=true; focusInput2=true">
				<span ng-hide="editing2">{{deliveryTime}}</span> hrs
			</label>
		</li>
		<li>
			<h3>Delivery Charge</h3>
			<label ng-click="editing3=true; focusInput3=true">$
				<span ng-hide="editing3">{{deliveryCharge}}</span>
			</label>
			<input focus-me="focusInput3" ng-show='editing3' ng-blur="editing3=false" ng-model="deliveryCharge" type="text">
		</li>
	</ul>
</div> -->