<div ng-controller="projectInfoCtrl" layout="column" class="md-inline-form">

  <form name="colorForm">

  	<div id="project-section" class="form-section">
  		<h2>Project</h2>
  		<md-input-container class="md-block" flex-gt-sm="">
		    <label>Project Name:</label>
		    <input ng-model="project.name">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm="">
		    <label>Address:</label>
		    <input ng-model="project.address">
		</md-input-container>
  	</div>
  	<div layout="row">
	  	<div id="customer-section" class="form-section">
	  		<h2>Customer</h2>
	  	</div>
	  	<div id="internal-section" class="form-section">
	  		<h2>Internal</h2>
	  	</div>
	</div>

  <md-input-container>
    <label>Favorite Color</label>
    <input name="favoriteColor" ng-model="favoriteColor" required>
    <div ng-messages="colorForm.favoriteColor.$error">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>


  <md-input-container class="md-block" flex-gt-sm="">
    <label>Customer Name:</label>
    <input ng-model="project.customerName">
  </md-input-container>
</form>

</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->