<md-toolbar layout="row" layout-align="center center" class="nav-bar md-medium-tall md-background md-hue-1" md-whiteframe="2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu">
      <md-icon md-font-library="material-icons">menu</md-icon>
    </md-button>
    <h2>
      Quote Tool
    </h2>
    <div layout="row" class="userSelect">
      <h3>[[SalesManName]]</h3>
      <md-button class="md-fab md-accent md-hue-1" aria-label="User">
        <md-icon md-font-library="material-icons">account_box</md-icon>
      </md-button>
    </div>
    
  </div>
</md-toolbar>